html, body{
	background-color: #ffff40;
	margin: auto;
	width: auto;
	height: auto;
}
.bigcontainer{
	display: flex;
	flex-direction: column;
}
.upcontainer{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.container1{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.item1{
	width: 20vw;
	height: 50vh;
	background-color: white;
}
.item2{
	width: 20vw;
	height: 70vh;
	background-color: white;
	margin-top: 25%;
}
.container2{
	display: flex;
	justify-content: flex-end;
}
.item3{
	width: 80vw;
	height: 129.6vh;
	background-color: coral;
	margin-left: 3%;
}
.lowercontainer{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: row;
}
.container3{
	display: flex;
	justify-content: flex-start;
}
.item4{
	width: 20vw;
	height: 45vh;
	background-color: lightblue;
	margin-top: 10%;
}
.container4{
	display: flex;
	justify-content: flex-start;
}
.item5{
	width: 70vw;
	height: 45vh;
	background-color: white;
	margin-left: 3.3%;
}
.container5{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-left: 3%;
}
.item6{
	width: 7vw;
	height:21vh;
	background-color: white;
}
.item7{
	width: 7vw;
	height: 17.3vh;
	background-color: lightgreen;
	margin-top: 50%;
}
