html, body{
	background-color: white;
	margin: none;
	width: auto;
	height: auto;
	background-attachment: scroll;
}
.sentence1{
	position: absolute;
	font-family: helvetica;
	transform: rotate(-90deg); 
	top: 100%;
}
.sentence2{
	position: absolute;
	font-family: helvetica; 
	font-weight: bold;
	font-size: 90px;
	transform: rotate(-90deg); 
	right: 83%;
	bottom: 62%;
}
.sentence3{
	position: absolute;
	font-family: helvetica;
	letter-spacing: 2px;
	right: 74%;
	bottom: 90%;
}
.sentence4{
	position: absolute;
	font-family: helvetica;
	letter-spacing: 2px;
	font-weight: bold;
	left: 60%;
	top: 290%;
}
.sentence5{
	position: absolute;
	font-family: helvetica;
	column-count: 2;
	column-gap: 50px;
	text-align: justify;
	line-height: 1.5;
	width: 60%;
	left: 20%;
	top: 220%;
}
.sentence6{
	position: absolute;
	font-family: helvetica;
	column-count: 2;
	column-gap: 50px;
	text-align: justify;
	line-height: 1.5;
	width: 60%;
	left: 100%;
	top: 220%;
}
.sentence7{
	position: absolute;
	font-family: helvetica;
	letter-spacing: 2px;
	left: 150%;
	bottom: 90%;
}
.sentence8{
	position: absolute;
	font-family: helvetica;
	letter-spacing: 2px;
	font-weight: bold;
	left: 110%;
	top: 290%;
}
.img1 img{
	position: absolute;
	width: 2500px; 
	left: 20%;
	top: 15%;
}
